.reg-container{
    background-image: url('../Garden.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.box{
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 10px rgba(11, 11, 11, 0.666);
    background-color: rgb(245, 245, 245);
    padding: 50px;
    border-radius: 15px;
    gap: 20px;
}
.box input{
    /* width: 1%; */
    border: none;
    padding: 10px;
    border-radius: 10px;
    /* box-shadow: 1px 1px 1px 1px rgb(111, 106, 106); */
    border: 1px solid rgba(111, 106, 106, 0.5);
}

.box input:hover{
  transition: all 0.3s ease-in-out;
  transform: scale(1.11);
}

.box button{
   border: none;
   /* box-shadow: 2px 2px 2px 2px rgb(31, 30, 30); */
   background-color: rgb(60, 19, 244);
   padding: 10px;
   border-radius: 10px;
   font-family: 'Courier New', Courier, monospace;
   font-weight: 300;
   color:white;
   cursor: pointer;
   box-shadow: 1px 1px 4px 1px rgb(31, 30, 30); 
}

.box button:hover {
    background-color: rgb(63, 34, 167);
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}
